.actor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1em;
    margin: 0 1em;
}

.movie-container {
    flex-shrink: 0;
}

.headline {
    margin-left: .75em;
}

.movie-view {
    display: flex;
}

.left {
    flex: 0 0 50%;
}