 .h1, h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.form--login {
    color: #FFFFFF;
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login h1 {
    font-family: var(--logo-font);
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
    border: none;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.btn-login {
    color: var(--main-color);
    background-color: #FFFFFF;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color);
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: none
}

.form-control::placeholder {
    color: var(--main-color)
}



.container--login {
    text-align: center;
}


.form--login {
    background-position-x: right;
    background-image: url(logo.png);
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: var(--main-color);
    background-repeat: no-repeat;
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}

main a {
    color: var(--accent-color)
}

:focus {
    outline-color: var(--main-color);
}